@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@200&family=Lato:wght@300&display=swap');

* {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-family: 'Lato', sans-serif;
}

body {
    background: black;
}

h4{
    font-size: 40px;
    margin-top: 200px;
    color: #ffff;
    text-align: center;
}

.divContainerGeneral {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    margin-inline: 2rem !important;
    margin-block: 100px;
    text-align: center;
}

.cardDesing{
    padding: 1.5rem;
    align-items: center;
    background: rgb(224, 224, 224);
    border-radius: 10px;
    width: 400px;
    height: 580px;
}

.imagenProductos{
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
}

.nombreProductos {
    font-size: 20px !important;
    font-weight: 600 !important;
    border-block: 2px solid black;
    border-radius: 30px 50px;
    margin-bottom: 10px !important;
}

img {
    width: 340px;
    height: 320px;
}

.ButtonCarrito {
    background: transparent;
    color: black;
    font-weight: 600;
    font-size: 18px;
    padding: 12px;
    margin-top: 30px;
    cursor: pointer;
    border: none;
    transition: .3s ease;
}

.ButtonCarrito:hover{
    background-color: black;
    border-radius: 15px 0;
    color: #ffff;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #ffff;
}

.precio{
    font-size: 20px;
    font-weight: 800;
    margin-top: 30px;
}

.saludoHome{
    font-size: 50px;
    color: #ffff;
    margin-top: 20px;
}