@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@200&family=Lato:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-family: 'Lato', sans-serif;
}

.NavBar{
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: 2px solid white;
}

.linkA {
    text-decoration: none;
    list-style: none;
    color: #ffff;
}

.Titulo {
    color: #ffff;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.ButtonItem {
    background: transparent;
    color: white;
    font-weight: 600;
    font-size: 15px;
    padding: .9rem;
    margin-inline: 3.5rem;
    cursor: pointer;
    border: none;
    transition: .3s ease;
}

.ButtonItem:hover{
    background-color: #ffff;
    color: black;
    border-radius: 15px 0;
}

.carrito {
    width: 35px;
    height: 35px;
}

